{% extends "base.html" %}
{% block content %}
<style>
    input[type="submit"] {
        background-color: #4CAF50; /* Green */
        color: #ffffff; /* White */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #3e8e41; /* Darker green on hover */
      }
</style>
<form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="send mail">
</form>
{% endblock content %}