{% extends "base.html" %}
{% block content %}
<style>
    button {
        /* Add some padding to make the button larger */
        padding: 10px 20px;
        
        /* Add a background color and border radius to give it a rounded look */
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        /* Add some text styles */
        color: #ffffff; /* White text */
        font-size: 16px;
        font-weight: bold;
        
        /* Add a hover effect */
        transition: background-color 0.3s;
      }
      
      button:hover {
        background-color: #3e8e41; /* Darker green on hover */
      }
</style>
<p>Password reset complete
    Your password has been set. You may go ahead and <a href="{% url "login" %}"><button>log in</button></a>now.</p>
   
{% endblock content %}